.city-name{
    width: 100%;
    color: black;
}
.city-code{
    font-weight: bold;
    display: inline;
}
.city-country{
    display: block;
    width: 100%;
    font-size: 12px;
}

p{
    margin: 0px;
}

.city-div{
    width: 100%;
    display: flex;
    color : #9b9b9b;
    text-align: left;
    margin-bottom: 5px;
    height: 40px;
    padding: 2px;
}

.city-div:hover{
    background-color: #f2f2f2;
}
.city-country-div{
    width: 80%;
    padding-left: 10px;
}